<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="icon" href="{{ '/assets/images/flaviconDrahman_result.png' | relative_url }}" type="image/png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  </head>