<nav class="site-nav" aria-label="Navegación principal">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
      <li><a href="{{ '/personajes/' | relative_url }}">Personajes</a></li>
      <li><a href="{{ '/mundo/' | relative_url }}">Mundo</a></li>
      <li><a href="{{ '/historia/' | relative_url }}">Historia</a></li>
      <li><a href="{{ '/sobre/' | relative_url }}">Sobre el proyecto</a></li>
      <li><a href="{{ '/subscribe' | relative_url }}">Suscríbete</a></li>
    </ul>
  </nav>